body {
    background-color: #2B0303;
    font-family: Arial, sans-serif;
    color: #E0CBB9;
    margin: 20px;
}
h1 {
    color: #A45E47;
    text-align: center;
}
h2 {
    color: #BC7A64;
    text-align: left;
}
p {
    font-size: 18px;
    text-align: left;
    line-height: 1.5;
}
li {
    font-size: 18px;
    text-align: left;
    line-height: 1.5;

}
.daftar-produk {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}
.produk {
    background-color: #5C2E30;
    border: 1px solid #D8A694;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
.produk img {
    width: 150px;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}
.produk h2 {
    font-size: 20px;
    color: #D8A694;
}
.produk h3 {
    font-size: 16px;
    color: #D8A694;
}
.harga {
    font-weight: bold;
    color: #9F544A;
}
.deskripsi {
    font-size: 14px;
    color: #EAC3BF;
}
.artikel { 
    max-width: 700px;
    margin: auto;
    padding: 20px;
    background-color: #724638;
    font-family: 'Georgia', serif;

    line-height: 1.8;
}
.artikel .penulis {
    font-style: italic;
    color: #b49e94;
    margin-bottom: 20px;
}
.artikel .sampul {
    width: 180px;
    float: right;
    margin: 0 0 20px 20px;
    border: 1px solid #9F544A;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.1);
}
.artikel blockquote {
    font-style: italic;
    padding-left: 20px;
    margin: 20px 0;
    border-left: 4px solid #999;
    color: #444;
    background-color: #f9f9f9;
}
.btn-kembali {
    display: inline-block;
    margin-top: 30px;
    padding: 10px 16px;
    background-color: #D8A694;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}
.btn-kembali:hover {
    background-color: #D8A694;
}
.formulir {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: #844c39;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}
form input,
form select,
form textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #EAC3BF;
}
form button {
    background-color: #d8a694;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
form button:hover {
    background-color: #2980b9;
}